<% if comment.errors.any? %>
 <div id="error_explanation pb-3">
    <ul id="error-message-hiden" class="mb-5 pb-4" style="border-bottom: 1px solid #dee2e6;">
     <% comment.errors.full_messages.each do |message| %>
       <li class="text-center"><%= message %></li>
     <% end %>
   </ul>
 </div>
<% end %>

<%= form_with(model:[post_sneaker, comment], remote: true) do |f| %>
<div class="new-comment text-center row" style="justify-content: center;">
  <div class="col-12 col-sm-10 cpl-md-6 col-lg-6 mb-3">
    <%= f.text_area :comment, placeholder: "コメント", class: "comment-text-form text-left", id: "text-filed" %>
  </div>
  <div class="col-12">
    <% if comment.created_at %>
      <%= f.submit "編集を送信", class: "btn btn-radius-solid" %>
    <% else %>
      <%= f.submit "送信", class: "btn btn-radius-solid" %>
    <% end %>
  </div>
</div>
<% end %>