<div class="text-center">
  <div id="top", class="post-sneaker-box flex-sm-row row">
    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list col-12 col-sm-3 p-0", local: true do |f| %>
    <%= f.hidden_field :keyword %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == 'Total' %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% elsif !params[:commit].present?  %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list col-12 col-sm-3 p-0", local: true do |f| %>
    <%= f.hidden_field :keyword, value: 0 %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == "Men's" %>
      <%= f.submit "Men's", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Men's", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list col-12 col-sm-3 p-0", local: true do |f| %>
    <%= f.hidden_field :keyword, value: 1 %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == "Women's" %>
      <%= f.submit "Women's", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Women's", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list col-12 col-sm-3 p-0", local: true do |f| %>
    <%= f.hidden_field :type, value: 1 %>
    <% if params[:commit] == "タイムライン" %>
      <%= f.submit "タイムライン", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "タイムライン", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>
  </div>

  <hr class="dropdown-divider mt-0">

  <!--<div class="dropdown text-right">-->
  <!--  <button class="btn dropdown-toggle product-dropdown font-weight-bold"-->
  <!--  type="button" id="dropdownMenu1" data-toggle="dropdown"-->
  <!--  aria-haspopup="true" aria-expanded="false">-->
  <!--  <span class='product-dropdown'>並び替え</span>-->
  <!--  </button>-->
  <!--  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
  <!--    <%#= link_to "新着順", post_sneakers_search_path, method: :get, local: true, class: "dropdown-item" %>-->
  <!--    <%#= link_to "いいね順", post_sneakers_search_path, method: :get, local: true, class: "dropdown-item" %>-->
  <!--  </div>-->
  <!--</div>-->

  <div class="text-right">
    <%= form_with url: post_sneakers_search_path, method: :get, local: true do |f| %>
     <div><%= f.select :type, [["新着順", "new"], ["いいね順", "likes"]] %></div>
     <%= f.submit '並び替え' %>
  <% end %>
  </div>

  <div class="row">
  <% @post_sneakers.each do |post_sneaker| %>
  <div class="col-sm-12 col-md-6 col-lg-4 my-4">
    <div class="fall-item fall-effect">
      <%= link_to post_sneaker_path(post_sneaker) do %>
      <div>
        <%= attachment_image_tag post_sneaker, :post_image, :fill, 800, 800, format: 'jpeg', class: "image-back" %>
        </div>
      <% end %>
      <div class="mask">
         <div class="sneaker-image-bottom d-flex" style="justify-content: space-between;" >
           <div class="d-flex">
           <%= link_to user_detail_path(current_user), class: "d-flex" do %>
             <%= attachment_image_tag post_sneaker.user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.png", class: "mt-2 mx-3 comment-user-image-1" %>
             <%= post_sneaker.user.name %>
           <% end %>
           </div>
           <!--いいね-->
           <div id="likes_buttons<%= post_sneaker.id %>" class="post-like">
             <%= render partial: 'user/likes/like2', locals: { post_sneaker: post_sneaker } %>
           </div>
         </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>


  <div class="text-center mt-5" style="justify-content: center;">
    <%= paginate @post_sneakers %>
  </div>
</div>