<div class="text-center">
  <div id="top", class="post-sneaker-box flex-sm-row">
    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list", local: true do |f| %>
    <%= f.hidden_field :keyword %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == 'Total' %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% elsif !params[:commit].present?  %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list", local: true do |f| %>
    <%= f.hidden_field :keyword, value: 0 %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == "Men's" %>
      <%= f.submit "Men's", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Men's", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list", local: true do |f| %>
    <%= f.hidden_field :keyword, value: 1 %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == "Women's" %>
      <%= f.submit "Women's", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Women's", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: post_sneakers_search_path, method: :get, class: "top-nav-list", local: true do |f| %>
    <%= f.hidden_field :type, value: 1 %>
    <% if params[:commit] == "タイムライン" %>
      <%= f.submit "タイムライン", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "タイムライン", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>
  </div>

  <hr class="dropdown-divider mt-0">

  <div class="text-right mr-5">
    <%= form_with url: post_sneakers_search_path, method: :get, local: true do |f| %>
     <div><%= f.select :type, [["新着順", "new"], ["いいね順", "likes"]] %></div>
     <%= f.submit '並び替え' %>
  <% end %>
  </div>

  <div>
    <% @post_sneakers.each do |post_sneaker| %>
      <%= link_to post_sneaker_path(post_sneaker) do %>
      <%= attachment_image_tag post_sneaker, :post_image, :fill, 800, 800, format: 'jpeg', class: "col-md-3 col-sm-5 m-2 p-0 sneaker-image" %>
      <% end %>
    <% end %>
  </div>

</div>