<div>
  <h2 class="text-center mb-5 font-weight-bold">
    <%= @post_sneaker.sneakers_name %>
  </h2>

  <div>
    <div class="d-flex row" style="justify-content: center;">
      <div class="col-12 col-sm-6 col-md-5 col-md-5 col-lg-4">
        <%= attachment_image_tag @post_sneaker, :post_image, :fill, 600, 600, format: 'jpeg', class: "sneaker_image" %>
      </div>

      <div class="col-12 col-sm-6 col-md-5 col-md-5 col-lg-4">
        <div>
          <span class="font-weight-bold">
            <%= link_to user_detail_path(@user) do %>
            <%= @user.name %>さん
            <% end %>
          </span>
          /
          <%= @post_sneaker.gender_selection %>
        </div>

        <!----いいねrender/フォローrender---->
        <div class="submit d-flex">
          <!--<div id="likes_buttons_<%#= @post_sneaker.id %>" %>-->
          <div id="likes_buttons">
            <%= render partial: 'user/likes/like', locals: { post_sneaker: @post_sneaker } %>
          </div>
          <!----フォローrender---->
          <div id="follow_buttons_<%= @user.id %>", class="ml-2">
            <%= render partial: 'user/relationships/follow', locals: { user: @user } %>
          </div>
        </div>

        <!----いいねカウント---->
        <p class="like-count mb-2"><span id="like-count" class="man-count"><%= @post_sneaker.likes.count %></span>人がいいねといっています</p>

        <script>
          $(function(){
            $('#likes_buttons').on('click',function(e){
              if ($(e.target).attr('data-method') == 'post') {
                $('#like-count').html( Number($('#like-count').text())+1 );
              } else {
                $('#like-count').html( Number($('#like-count').text())-1 );
              }
            });
          })
        </script>

        <div class="caption">
          <%= @post_sneaker.caption %>
        </div>
        <div class="btn-bottom">
          <% if @post_sneaker.user == current_user %>
          <%= link_to "編集", edit_post_sneaker_path(id: @post_sneaker.id), class: "btn btn-success btn-1" %>
          <%= link_to "削除", post_sneaker_path(@post_sneaker), method: :delete, class: "btn btn-danger btn-1", data: { confirm: "本当に消しますか？" } %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <h2 class="text-center comment-box">
    コメント
  </h2>
  <div>
  <!--コメントメッセージ内容-->
  <div id="comment-text-field">
    <%= render partial: "user/comments/comment", locals: { post_sneaker: @post_sneaker, comments: @comments } %>
  </div>
  <!--エラーメッセージ--><!--コメントフォーム-->
  <div id="comment-form">
    <%= render partial: "form", locals: { post_sneaker: @post_sneaker, comment: @comment } %>
  </div>

  </div>
</div>