<div class="post_sneaker_show">
  <h2 class="text-center mb-5 font-weight-bold">
    <%= @post_sneaker.sneakers_name %>
  </h2>

  <div>
    <div class="d-flex">
      <div class="show-width">
        <%= attachment_image_tag @post_sneaker, :post_image, :fill, 600, 600, format: 'jpeg', class: "sneaker_image" %>
      </div>

      <div class="show-width ml-4">
        <div>
          <span class="font-weight-bold">
            <%= link_to user_detail_path(@user) do %>
            <%= @user.name %>さん
            <% end %>
            </span>
          /
          <%= @post_sneaker.gender_selection %>
        </div>

        <!----いいねrender/フォローrender---->
        <div class="submit d-flex">
           <div id="likes_buttons_<%= @post_sneaker.id %>">
             <%= render partial: 'user/likes/like', locals: { post_sneaker: @post_sneaker } %>
          </div>
          <div class="ml-2", id="follow_bottons_<%= @user.id %>">
            <%= render partial: 'user/relationships/follow', locals: { user: @user } %>
          </div>
        </div>
        <p class="like-count mb-2"><span class="man-count"><%= @post_sneaker.likes.count %></span>人がいいねといっています</p>

        <div class="caption">
          <%= @post_sneaker.caption %>
        </div>
        <div class="btn-bottom">
          <% if @post_sneaker.user == current_user %>
          <%= link_to "編集", edit_post_sneaker_path(id: @post_sneaker.id), class: "btn btn-success btn-1" %>
          <%= link_to "削除", post_sneaker_path(@post_sneaker), method: :delete, class: "btn btn-danger btn-1", data: { confirm: "本当に消しますか？" } %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <h2 class="text-center comment-box">
    コメント
  </h2>
  <div>
    

    <div id="comment-form">
      <%= render partial: "form", locals: { post_sneaker: @post_sneaker, comment: @comment } %>
    </div>


  </div>
</div>