<% chats.each do |chat| %>
<!--顧客(user)のチャット内容-->
  <% if chat.user_id == current_user.id %>
    <div class="text-right mb-5" style="border-bottom: solid 1px gray;">
      <p>
        <%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %>
        <span class="ml-3 font-weight-bold"><%= chat.user.name %></span>
        <%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "comment-user-image-1", fallback: "pagu.jpeg" %>
      </p>
      <div class="text-right">
        <%= chat.message %>
      </div>
    </div>
  <!--管理者(admin)のチャット内容-->
  <% elsif chat.admin_id != nil %>
  <div class="mt-4">
    <p style="font-size: 11px" class="mb-0 ml-2">
      <span class="font-weight-bold">Lewis事務局</span>
      <span class="ml-2"><%= l chat.created_at %></span>
    </p>
    <div class="chat-bubble receiver-chat-bubble">
      <%= chat.message %>
    </div>
  </div>
  <% end %>
<% end %>