<% chats.each do |chat| %>
<!--顧客(user)のチャット内容-->
  <% if chat.user_id == current_user.id %>
    <div class="text-right my-5 delete-btn-box">
      <div class="tdelete-btn-box">
        <%= link_to chat_path(chat),method: :delete, class: "btn btn-danger btn-4 text-right delete-btn", data: { confirm: "本当に消しますか？" } do %>
        <p>×</p>
        <% end %>
          <%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %>
          <span class="ml-3 font-weight-bold"><%= chat.user.name %></span>
          <%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "comment-user-image-1", fallback: "pagu.jpeg" %>
        <div class="text-right my-5">
          <%= chat.message %>
        </div>
      </div>
    </div>
  <!--管理者(admin)のチャット内容-->
  <% elsif chat.admin_id != nil %>
  <div class="text-left mb-5" style="border-bottom: solid 1px gray;">
      <%= image_tag 'Lewis-image.png', class: "comment-user-image-1" %>
      <span class="font-weight-bold">Lewis事務局</span>
      <%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %>

    <div class="my-5">
      <%= chat.message %>
    </div>

    <div class="mb-2 d-flex">
      <div class="d-flex">
      <% if chat.chat_room.solution_status == "未解決" %>
      <%#= form_with(url: chat_room_path(chat_room.id),local:true,method: patch) do |f| %>
        <%#= form_with model: chat_room, chat_room_path(chat_room.id), method: :patch,  local: true do |f| %>
          <%#= f.hidden_field :solution_status, value: "解決" %>
          <span class="font-weight-bold mr-4">解決しましたか？</span>
          <%= link_to "解決", chat_room_path(chat_room.id), method: :patch %>
          <%#= f.submit "解決", class: "btn btn-outline-secondary btn-6" %>
        <%# end %>
      <% end %>

      </div>
    </div>
  </div>
  <% end %>
<% end %>