<div class="sneaker-width-1 text-center">
  <h2>お問い合わせ</h2>

  <div id="chat-text">
    <%= render partial: 'chat_bubbles', locals: { chats: @chats, user: @user } %>
  </div>

    <%= form_with model: @chat, url: chats_path, local: true do |f| %>
      <div class="form-group">
        <%= f.text_area :message, placeholder: "メッセージを入力してください", id: "text-area", class: 'chat-form' %>
        <%= f.hidden_field :chat_room_id %>
        <%= f.hidden_field :is_admin_send %>
      </div>
    <div class="text-center">
      <%= f.submit "送信", class: "btn btn-outline-secondary btn-5" %>
    </div>
  <% end %>
</div>
