<% chats.each do |chat| %>
  <!--管理者(admin)のチャット内容-->
  <% if chat.admin_id != nil %>
    <div class="text-right mb-5 delete-btn-box">
      <div class="tdelete-btn-box">
        <%= link_to "×", admin_chat_path(chats.ids), method: :delete, class: "btn btn-danger btn-4 text-right delete-btn", data: { confirm: "本当に消しますか？" } %>
        <%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %>
        <span class="ml-3 font-weight-bold">Lewis事務局</span>
        <%= image_tag 'Lewis-image.png', class: "comment-user-image-1" %>
      </div>
      <div class="text-right my-5">
        <%= chat.message %>
      </div>
    </div>
  <!--顧客(user)のチャット内容-->
  <% elsif chat.user_id == user.id %>
    <div class="text-left mb-5" style="border-bottom: solid 1px gray;">
      <%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "comment-user-image-1", fallback: "pagu.jpeg" %>
      <span class="mr-3 font-weight-bold"><%= chat.user.name %></span>
      <%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %>
      <div class="my-5">
        <%= chat.message %>
      </div>
    </div>
  <% end %>
<% end %>
