<% chats.each do |chat| %>
  <!--管理者(admin)のチャット内容-->
  <% if chat.admin_id != nil %>
  <div class="text-right delete-btn-box media media-chat media-chat-reverse" style="border-bottom: 1px solid #dee2e6;">

      <!--chatメッセージ削除ボタン(非同期実装済)-->
      <%#= link_to admin_chat_path(chat), method: :delete, class: "btn btn-danger btn-4 text-right delete-btn", data: { confirm: "本当に消しますか？" }, remote: true do %>
        <!--<p>×</p>-->
      <%# end %>

    <div class="tdelete-btn-box media-body">

      <span class="ml-3 font-weight-bold">Lewis事務局</span>
      <div class="text-left">
        <p><%= chat.message %></p>
        <p class="meta" style="color: #9b9b9b;"><%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %></p>
      </div>
    </div>
  </div>

  <!--顧客(user)のチャット内容-->
  <% elsif chat.user_id == chat.user.id %>
  <div class="text-left media media-chat" style="border-bottom: 1px solid #dee2e6;">
    <div class="media-body">
      <span class="mr-3 font-weight-bold"><%= link_to user.name, admin_user_path(user) %></span>
      <%= chat.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[chat.created_at.wday]})") %>
      <p><%= chat.message %></p>
    </div>
  </div>
  <% end %>
<% end %>
