<div>
  <h2><%= @user.name %>さん詳細ページ</h2>
  <div class="row">
    <div class="col-12 col-md-3 text-center">
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "pagu.jpeg", class: "comment-user-image-2" %>
    </div>
    <div class="col-12 col-md-8 text-left">
      <div class="row text-center my-4">
        <p class="col-12 col-md-4 font-weight-bold"><%= @user.name %></p>
        <% if current_user.id == @user.id %>
          <p class="col-12 col-md-4"><%= link_to "プロフィール編集", edit_user_detail_path(current_user), class: "btn btn-outline-dark font-weight-bold", style: "font-size: 77%;" %></p>
        <% end %>
      </div>
      <div class="row text-center">
        <p class="col-12 col-sm-4">投稿件数<%= @user.post_sneakers.count %>件</p>
        <%= link_to followings_path(@user), class: "col-12 col-sm-4" do %>
        <p>フォロー<%= @user.followings.count %>人</p>
        <% end %>
        <%= link_to followers_path(@user), class: "col-12 col-sm-4" do %>
        <p>フォロワー<%= @user.followers.count %>人</p>
        <% end %>
      </div>
    </div>
  </div>

  <p class="mt-5 mb-3 border-bottom"><%= @user.introduction %></p>

  <div class="row text-center">
    <% if @post_sneakers.present? %>
      <% @user.post_sneakers.each do |post_sneaker| %>
      <div class="my-4 col-md-6 col-lg-4">
        <div class="fall-item fall-effect">
        <%= link_to post_sneaker_path(post_sneaker.id) do %>
          <%= attachment_image_tag post_sneaker, :post_image, :fill, 800, 800, format: 'jpeg' %>
        <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>投稿はありません</p>
    <% end %>
  </div>
</div>

<div class="text-center mt-5" style="justify-content: center;">
  <%= paginate @post_sneakers %>
</div>