<div>
  <h2><%= @user.name %>さん詳細ページ</h2>
  <div class="row">
    <div class="col-12 col-md-3 text-center">
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.png", class: "comment-user-image-2" %>
    </div>
    <div class="col-12 col-md-8 text-left">
      <div class="row text-center my-4">
        <p class="col-12 col-md-4 font-weight-bold"><%= @user.name %></p>
        <% if current_user.id == @user.id %>
          <p class="col-12 col-md-4"><%= link_to "プロフィール編集", edit_user_detail_path(current_user), class: "btn btn-outline-dark font-weight-bold", style: "font-size: 77%;" %></p>
        <% end %>
      </div>
      <div class="row text-center">
        <p class="col-12 col-sm-4">投稿件数<%= @user.post_sneakers.count %>件</p>
        <%= link_to followings_path(@user), class: "col-12 col-sm-4" do %>
          <p>フォロー<%= @user.followings.count %>人</p>
        <% end %>
        <%= link_to followers_path(@user), class: "col-12 col-sm-4" do %>
          <p>フォロワー<%= @user.followers.count %>人</p>
        <% end %>
      </div>
    </div>
  </div>

  <p class="my-5"><%= @user.introduction %></p>

  <ul class="nav nav-tabs" id="myTab" role="tablist" style="font-size: 88%;">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">投稿一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">いいね一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">閲覧履歴</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!--投稿一覧-->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row text-center">
      <% if @post_sneakers.present? %>
        <% @post_sneakers.each do |post_sneaker| %>
        <div class="my-4 col-md-6 col-lg-4">
          <div class="fall-item fall-effect">
          <%= link_to post_sneaker_path(post_sneaker.id) do %>
            <%= attachment_image_tag post_sneaker, :post_image, :fill, 800, 800, format: 'jpeg' %>
          <% end %>
          </div>
        </div>
        <% end %>
      <% else %>
        <p>投稿はありません</p>
      <% end %>
      </div>
      <!--<div class="text-center mt-5" style="justify-content: center;">-->
      <!--  <%#= paginate @post_sneakers %>-->
      <!--</div>-->
    </div>
    <!--いいね一覧-->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row text-center">
      <% @likes.each do |like| %>
      <% post_sneaker = PostSneaker.find_by(id: like.post_sneaker_id) %>
      <div class="my-4 col-md-6 col-lg-4">
        <div class="fall-item">
        <%= link_to post_sneaker_path(post_sneaker.id) do %>
          <%= attachment_image_tag post_sneaker, :post_image, :fill, 800, 800, format: 'jpeg' %>
        <% end %>
        </div>
      </div>
      <% end %>
      </div>
      <!--<div class="text-center mt-5" style="justify-content: center;">-->
      <!--  <#%= paginate @likes %>-->
      <!--</div>-->
    </div>
    <!--閲覧履歴-->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row text-center">
      <% @browsed_posts.each do |browsed_post| %>
        <div class="my-4 col-md-6 col-lg-4">
          <div class="fall-item">
            <%= link_to post_sneaker_path(browsed_post) do %>
              <%= attachment_image_tag browsed_post, :post_image, :fill, 800, 800, format: 'jpeg' %>
            <% end %>
           </div>
        </div>
      <% end %>
      </div>
      <!--<div class="text-center mt-5" style="justify-content: center;">-->
      <!--  <%#= paginate @browsed_posts %>-->
      <!--</div>-->
    </div>
  </div>

