<div class="text-center">
  <div class="about-image">
    <div class="top-image-box">
      <div class="top-text box">
        <h1 class="top-text mt-4 box-1">Lewis</h1>
        <p><%= link_to"今すぐ投稿する", new_post_sneaker_path, class: "top-text box-2 btn btn-outline-light" %></p>
      </div>
    </div>
  </div>

    <div id="about">
      <div class="luxy-el about-text">about</div>
      <h2 class="text-center p-0 about-h2">Lewisについて</h2>
      <div class="text-center sneaker about-text">
        <p>
          Lewisはスニーカーやスニーカーを取り入れたファッションコーデの写真を投稿し、ユーザーと共有できるサイトです。自身の
          <span style="color: #FF9321; font-weight: bold;">お気に入りの</span>スニーカー写真を投稿し、共有しましょう！
        </p>
        <br />
        <p>
          このサイトを通じて、スニーカーの事を詳しく知らない人やスニーカー好きの人によりいっそう好きになっていただければと思います!
          また、スニーカーを取り入れた写真の撮り方を記載していますので参考にしてみてください
        </p>
      </div>
    </div>

    <div id="shootingmethod">
    <div class="luxy-el post-text">post</div>
      <h2 class="text-center mb-3 p-0 about-h2" style="border-bottom: 0;">写真の撮り方について</h2>
      <h3 class="about-h3" style="font-weight: bold; font-size: 90%; margin-bottom: 70px;">かっこよく写真を撮る<span style="color: #FF9321; font-weight: bold; font-size: 150%;">3</span>パターン</h3>
      <div style="font-size: 80%;">
        <div class="row text-font-size">
          <div class="col-12 col-sm-6 p-0">
            <div class="about-page image1"></div>
          </div>
          <div class="col-12 col-sm-6 sneaker-text">
            <h4 class="text-left my-3 sneaker-text-1" style="font-weight: bold;">キモ撮り</h4>
            <p class="text-left mb-4 sneaker-text">
              「レイザーラモンRGさん考案のキモ撮り」です。この撮り方は、お笑い芸人のレイザーラモンRGが考案したことで話題になり、テレビでも紹介された写真の撮り方です！<br />
              【方法】<br />
              カメラにつま先を近づけ、手でもう片方のスニーカーを持ってカメラ内に両足の靴を入れて撮影する。<br />
              カメラに近づけることでスニーカーを細部まで写すことができ、後ろでもう片方のスニーカーを写すことで全体を見せることができます！<br />
            </p>
          </div>
        </div>

        <div class="row text-font-size">
          <div class="col-12 col-sm-6 p-0 none-image" style="display: none;">
            <div class="about-page image2"></div>
          </div>
          <div class="col-12 col-sm-6 sneaker-text">
            <h4 class="text-left my-3 sneaker-text-1" style="font-weight: bold;">スニーカーの箱と共に</h4>
            <p class="text-left mb-4 sneaker-text">
              購入した際にスニーカーが入っている箱と共に撮影する！<br />
              【方法】<br />
              包装紙を取り除き真上から撮影する。<br />
              シンプルでスニーカーを活かした撮影が可能です。<br />
              また、スニーカーの箱を使用した撮影方法はたくさんあります。<br />
              自身が気に入った使用方法で撮影してみてください！<br />
            </p>
          </div>
          <div class="col-12 col-sm-6 p-0">
            <div class="about-page image2 block-image"></div>
          </div>
        </div>

        <div class="row text-font-size">
          <div class="col-12 col-sm-6 p-0">
            <div class="about-page image3"></div>
          </div>
          <div class="col-12 col-sm-6">
            <h4 class="text-left my-3 sneaker-text-1" style="font-weight: bold;">紐で靴を吊るす</h4>
            <p class="text-left mb-4 sneaker-text">
              靴を紐で吊すだけでおしゃれな写真撮影が可能です！<br />
              【方法】<br />
              部屋の壁紙を背景にして靴紐を上で持ちスニーカーを撮影することでスニーカーが中に浮いているような、おしゃれな写真が撮影ができます！<br />
              屋外や家の中でも一人で撮影が可能であるためとても手軽に撮影できます。是非試してみてください！<br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="luxy-el others-text">others</div>
      <h2 class="text-center p-0 about-h2 example-bottom">その他撮影方法参考例</h2>
    </div>

    <ul class="slider">
      <li><%= image_tag "slider-image/slider-1.jpg" %></li>
      <li><%= image_tag "slider-image/slider-2.jpg" %></li>
      <li><%= image_tag "slider-image/slider-3.jpg" %></li>
      <li><%= image_tag "slider-image/slider-4.jpg" %></li>
      <li><%= image_tag "slider-image/slider-5.jpg" %></li>
    </ul>

</div>