<div class="text-center">
  <div class="top-image">
    <div class="top-image-box">
      <div class="top-text box">
        <h1 class="top-text mt-4 box-1">Lewis</h1>
        <p><%= link_to"今すぐ投稿する", new_post_sneaker_path, class: "top-text box-2 btn btn-outline-light" %></p>
      </div>
    </div>
  </div>

  <div id="top", class="mt-5 top-box flex-sm-row row">
    <%= form_with url: search_path, method: :get, class: "top-nav-list col-12 col-sm-4 p-0", local: true do |f| %>
    <%= f.hidden_field :keyword %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == 'Total' %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% elsif !params[:commit].present?  %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Total", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: search_path, method: :get, class: "top-nav-list col-12 col-sm-4 p-0", local: true do |f| %>
    <%= f.hidden_field :keyword, value: 0 %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == "Men's" %>
      <%= f.submit "Men's", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Men's", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>

    <%= form_with url: search_path, method: :get, class: "top-nav-list col-12 col-sm-4 p-0", local: true do |f| %>
    <%= f.hidden_field :keyword, value: 1 %>
    <%= f.hidden_field :type, value: 0 %>
    <% if params[:commit] == "Women's" %>
      <%= f.submit "Women's", class: "active flex-sm-fill text-sm-center nav-link nav-list nav-list-select" %>
    <% else %>
      <%= f.submit "Women's", class: "active flex-sm-fill text-sm-center nav-link nav-list" %>
    <% end %>
    <% end %>
  </div>

  <hr class="dropdown-divider mt-0 mb-5 form-search">

  <div>
    <% @post_sneakers.each do |post_sneaker| %>
      <%= link_to post_sneaker_path(post_sneaker) do %>
      <%= attachment_image_tag post_sneaker, :post_image, :fill, 800, 800, format: 'jpeg', class: "col-md-4 col-sm-5 m-2 p-0", style: "margin: 1.3rem!important;" %>
      <% end %>
    <% end %>
  </div>
</div>