<div class="sneaker-width-1">
  <div class="top-image">
    <div class="top-text box">
      <h1 class="top-text box-1">Lewis</h1>
      <p class="top-text box-2">今すぐ投稿する</p>
    </div>
  </div>

  <div id="top">
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.hidden_field :keyword %>
    <%= f.hidden_field :type, value: 0 %>
    <%= f.submit "Total", class: "nav-link active" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.hidden_field :keyword, value: 0 %>
    <%= f.hidden_field :type, value: 0 %>
    <%= f.submit "Men's", class: "nav-link active" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.hidden_field :keyword, value: 1 %>
    <%= f.hidden_field :type, value: 0 %>
    <%= f.submit "Women's", class: "nav-link active" %>
    <% end %>
  </li>
</ul>
  </div>

  <div>
    <% @post_sneakers.each do |post_sneaker| %>
      <%= link_to post_sneaker_path(post_sneaker) do %>
      <%= attachment_image_tag post_sneaker, :post_image, :fill, 300, 300, format: 'jpeg', class: "sneaker-image" %>
      <% end %>
    <% end %>
  </div>
</div>