<div class="sneaker-width">
  <div class="edit">
    <div class="edit-width">
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "pagu.jpeg", class: "comment-user-image-2" %>
    </div>
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>
      <div class="d-flex">
        <div class="edit-width ml-4">
          <p>ユーザーID</p>
          <p>ユーザー名</p>
          <p>ユーザーメールアドレス</p>
          <p>ユーザーステータス</p>
          <p><%= f.submit '編集', class: "btn btn-success btn-1" %></p>

        </div>
        <div class="edit-width ml-4">
          <p><%= @user.id %></p>
          <p><%= f.text_field :name, class: "text-field" %></p>
          <p><%= f.text_field :email, class: "text-field" %></p>
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :is_deleted, "有効", value: :true, style: "display: inline-block;" %>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :is_deleted, "退会", value: :false, style: "display: inline-block;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
