<div class="sneaker-width">
  <div class="row" style="justify-content: center;">
    <div class="col-12 col-md-3 text-center mb-3">
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "pagu.jpeg", class: "comment-user-image-2" %>
    </div>
    <div class="edit-box-1 col-12 col-md-7">
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch, class: "edit-form", local: true do |f| %>
      <div class="row">
        <p class="col-12 col-sm-6 mb-3">ユーザーID</p>
        <p class="col-12 col-sm-6 mb-3"><%= @user.id %></p>
      </div>
      <div class="row">
        <p class="col-12 col-sm-6">ユーザー名</p>
        <%= f.text_field :name, class: "text-field col-12 col-sm-6" %>
      </div>
      <div class="row">
        <p class="col-12 col-sm-6">ユーザーメールアドレス</p>
        <%= f.text_field :email, class: "text-field col-12 col-sm-6" %>
      </div>
      <div class="row">
        <p class="col-12 col-sm-6">ユーザーステータス</p>
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-sm-4 p-0">
                <%= f.radio_button :is_deleted, false %>
                <%= f.label :is_deleted, "有効", value: :true, class: "mr-3" %>
              </div>
              <div class="col-sm-4 p-0">
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, "退会", value: :false %>
              </div>
            </div>
          </div>
        </div>
        <%= f.submit '編集', class: "btn btn-success btn-1" %>
      <% end %>
      </div>

    </div>
  </div>
</div>

