<div class="sneaker-width">
  <div class="edit d-flex">
    <div class="edit-box">
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.png", class: "comment-user-image-2" %>
    </div>
    <div class="edit-box-1">
      <div class="d-flex">
        <p>ユーザーID</p>
        <p><%= @user.id %></p>
      </div>
      <div class="d-flex">
        <p>ユーザー名</p>
        <p><%= @user.name %></p>
      </div>
      <div class="d-flex">
        <p>ユーザーメールアドレス</p>
        <p><%= @user.email %></p>
      </div>
      <div class="d-flex">
        <p>ユーザーステータス</p>
        <% if @user.is_deleted == false %>
          <p class="text-success font-weight-bold">有効</p>
        <% else %>
          <p class="font-weight-bold">退会</p>
        <% end %>
      </div>
      <%= link_to "編集", edit_admin_user_path, class: "btn btn-success btn-1" %>
    </div>
  </div>
</div>
