<div>
  <div class="my-5">
    <ul class="footer my-5">
      <li><%= link_to"サイトTOP", root_path %></li>
      <li><a href="#">Lewisについて</a></li>
      <li><a href="#">写真の撮り方</a></li>
      <% if user_signed_in? %>
      <li>
        <%= link_to 'お問い合わせ', chat_path(current_user) %>
      </li>
      <% end %>
    </ul>
  </div>

  <div>
    <ul class="footer icon">
      <li class="sns-icon">
        <a href="https://ja-jp.facebook.com/"><%= image_tag('icon_facebook.svg') %></a>
        </li>
      <li class="sns-icon">
        <a href="https://www.instagram.com/"><%= image_tag('icon_instagram.svg') %></a>
      </li>
      <li class="sns-icon">
        <a href="https://twitter.com/"><%= image_tag('icon_twitter.svg') %></a>
      </li>
    </ul>
  </div>
</div>

<div class="copyright">
  <p>©2021 Lewis️</p>
</div>

