<div class="footer-top mt-4">
  <div class="container">
  	<div class="row mt-5 mb-4">
  		<% if user_signed_in? %>
  			<p class="col-md-3 footer-links wow animated"><%= link_to "サイトTOP", root_path %></p>
  			<p class="col-md-3 footer-links wow animated"><%= link_to "Lewisについて", about_path %></p>
  			<p class="col-md-3 footer-links wow animated"><%= link_to "写真の撮り方", about_path %></p>
        <p class="col-md-3 footer-links wow animated"><%= link_to  "お問い合わせ", chat_path(current_user) %></p>
      <% elsif admin_signed_in? %>
        <p class="col-md-3 footer-links wow animated"><%= link_to "サイトTOP", root_path %></p>
  			<p class="col-md-3 footer-links wow animated"><%= link_to "Lewisについて", about_path %></p>
  			<p class="col-md-3 footer-links wow animated"><%= link_to "写真の撮り方", about_path %></p>
        <p class="col-md-3 footer-links wow animated"><%= link_to  'お問い合わせ', admin_chats_path %></p>
      <% else %>
        <p class="col-md-4 footer-links wow animated"><%= link_to "サイトTOP", root_path %></p>
  			<p class="col-md-4 footer-links wow animated"><%= link_to "Lewisについて", about_path %></p>
  			<p class="col-md-3 footer-links wow animated"><%= link_to "写真の撮り方", about_path %></p>
      <% end %>
      </div>
      <div class="col footer-social d-flex sns">
        <p class="sns-icon"><a href="https://ja-jp.facebook.com/"><%= image_tag('sns-icon/icon_facebook.svg') %></a></p>
        <p class="sns-icon mx-5"><a href="https://twitter.com/"><%= image_tag('sns-icon/icon_twitter.svg') %></a></p>
        <p class="sns-icon"><a href="https://www.instagram.com/"><%= image_tag('sns-icon/icon_instagram.svg') %></a></p>
      </div>
    </div>
  </div>
  <div class="p-2 copyright" style="color: #666;">
  © 2021 Lewis
  </div>
</div>
