<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-main">
    <div class="container">
      <h1 class="m-0">
        <%= link_to"Lewis", root_path, class: "text-center header-title navbar-brand d-block" %>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#grobalNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
      <div id="grobalNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to "投稿一覧", post_sneakers_path, class: "nav-link text-center header-text" %>
          </li>
          <li class="nav-item active">
            <%= link_to "投稿画面", new_post_sneaker_path, class: "nav-link text-center header-text" %>
          </li>
          <li class="nav-item dropdown text-center pr-image">
            <a class="dropdown-toggle header-text" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= attachment_image_tag current_user, :profile_image, format: 'jpeg', fallback: "pagu.jpeg", class: "mb-1 comment-user-image-4" %>
              アカウント
            </a>
          <div class="dropdown-menu">
            <%= link_to "マイページ", user_detail_path(current_user), class: "dropdown-item" %>
            <%= link_to  activities_path do %>
              <p class="dropdown-item">通知一覧
                <span class="notification-count ml-2">
                  <% if Activity.unread_count(current_user) != 0 %>
                    <%= Activity.unread_count(current_user) %>
                  <% end %>
                </span>
              </p>
            <% end %>
            <%= link_to 'お問い合わせ', chat_path(current_user), class: "dropdown-item" %>
            <hr class="dropdown-divider">
            <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          </li>
          <li>
          <form class="pr-0 col-12 col-lg-auto mb-lg-0 me-lg-3 mt-2">
            <input type="search" class="form-control search-window" style="font-size: 14px;" placeholder="検索...">
          </form>
          </li>
        </ul>
      </div>
      <% elsif admin_signed_in? %>
      <div id="grobalNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><%= link_to "管理者TOP", admin_chats_path, class: "nav-link text-center header-text" %></li>
          <li class="nav-item active"><%= link_to "ユーザー一覧", admin_users_path, class: "nav-link text-center header-text" %></li>
          <li class="nav-item active"><%= link_to "通知一覧", admin_activities_path, class: "nav-link text-center header-text" %></li>
          <li class="nav-item active"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-center header-text" %></li>
        </ul>
      </div>
      <% else %>
      <div id="grobalNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><%= link_to "新規登録/ログイン", new_user_session_path, class: "nav-link text-center header-text" %></li>
        </ul>
      </div>
    <% end %>
  </nav>
</header>